* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  .header {
    background-color: aliceblue;
  }
  .header ul {
    justify-content: space-evenly;
    padding: 18px;
    font-size: 16px;
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  .header input {
    border: 1px solid grey;
    border-radius: 20px;
    height: 35px;
    width: 400px;
    padding: 6px 14px;
  }
  .restaurentList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  img {
    width: 100%;
  }
  .restaurentList .rest-card {
    background: grey;
    max-width: 300px;
    min-width: 300px;
  }
  .rest-card {
    margin: 10px
  }
  .detail-section {
    padding: 15px;
  }
  
 .footer {
  background: black;
  color: white;
  text-align: center;
  padding: 10px;
 }